.loginForm .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.layout{
  height: 100%;
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.logo h1{
  font-size: 48pt;
  font-weight: bold;
}
.logo span{
  font-size: 56pt;
  font-weight: bolder;
}
mat-form-field{
  width: 60%;
}
.loginBtn{
  width: 25%;
  height: 35px;
}
