<div class="layout">
  <div class="logo">
    <h1>Vent<span>2</span>u</h1>
  </div>

  <div class="cred-box">
    <h3>LOGIN</h3>
    <form
      class="example-container"
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && login()"
      #f="ngForm"
      novalidate
    >
<!--      TODO need to make helpers /pipes to control the username input-->
      <mat-form-field>
        <mat-label>Enter Username</mat-label>
        <input
          matInput
          type="text"
          placeholder="VladimirTakeout"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
        >
        <mat-error *ngIf="username.invalid">{{errMsg}}</mat-error>
      </mat-form-field>

      <br>
<!--      TODO need to make helpers and errMsg here -->
      <mat-form-field>
        <mat-label>Enter Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.invalid">{{errMsg}}</mat-error>
      </mat-form-field>

      <br>

        <button mat-raised-button type="submit">Login</button>
<!--        TODO This error msg dosnt work properly-->
      <mat-error *ngIf="f.submitted && isLoginFailed">Login Failed: {{errMsg}}</mat-error>
      <!--   TODO   <p>{{message}}</p>-->
    </form>

    <div *ngIf="isLoggedIn">
      <p>Logged in as: {{roles}}</p>
    </div>

<!-- TODO Connection Problems-->


  </div>
  <div class="trouble-box">
    <div class="sign-box">
      <a routerLink="Signup">Sign Up</a>
    </div>
    <a href="https://medium.com/amp/p/c56838f49738">Having Trouble?</a>
  </div>
</div>

