<div class="layout">
  <div class="logo">
    <h1>Vent<span style="color: green">2</span>u</h1>
  </div>
  <div class="cred-box">
    <h3>LOGIN</h3>
    <form class="example-container" [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input matInput type="text" placeholder="pat@example.com" formControlName="username" id="email" name="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <p>
        <button mat-raised-button class="loginBtn" (click)="login()"  *ngIf="!authService.isLoggedIn">Login</button>
        <button mat-raised-button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
      </p>
      <p>{{message}}</p>
    </form>
  </div>
  <div class="trouble-box">
    <div class="sign-box">
      <a routerLink="Signup">Sign Up</a>
    </div>
    <a href="https://medium.com/amp/p/c56838f49738">Having Trouble?</a>
  </div>
</div>

