<div class="layout">
  <div class="logo">
    <h1>Vent<span style="color: green">2</span>u</h1>
  </div>

  <div class="loginForm">
    <h2>LOGIN</h2>
    <form [formGroup]="form" class="example-container">
      <mat-form-field >
        <mat-label>Enter your email</mat-label>
        <label>
          Email:
          <input matInput placeholder="pat@example.com" [(ngModel)]="email" required>
        </label>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <label>
          Password:
          <input matInput [type]="hide ? 'password' : 'text'">
        </label>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <p>
        <button (click)="login()"  *ngIf="!authService.isLoggedIn">Login</button>
        <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
      </p>
      <p>{{message}}</p>
    </form>

  </div>
</div>

