<mat-toolbar>
    <span id="logo" routerLink="/Dashboard/Temperature">Vent<b>2</b>u</span>
    <button [matMenuTriggerFor]="burgerMenu">
    <mat-icon>menu</mat-icon>
  </button>
    <!--    <span><mat-icon>menu</mat-icon></span>-->
</mat-toolbar>
<!-- TODO need updates on router links-->
<mat-menu #burgerMenu>
    <div class="burgerMenu">
        <h3>Menu</h3>
        <p>{{user}}</p>
        <hr>
        <ul>
            <li mat-menu-item routerLink="Temperature">Temperature
                <mat-icon>star</mat-icon>
            </li>
            <li mat-menu-item routerLink="Humidity">Humidity
                <mat-icon>star</mat-icon>
            </li>
            <li mat-menu-item routerLink="Claim">Claim Vent
                <mat-icon>star</mat-icon>
            </li>
            <li mat-menu-item routerLink="Classroom">Classroom
                <mat-icon>star</mat-icon>
            </li>
            <li mat-menu-item (click)="NotInUseModal()">Create Presets
                <mat-icon>star</mat-icon>
            </li>
            <li mat-menu-item (click)="NotInUseModal()">Settings
                <mat-icon>star</mat-icon>
            </li>
            <li mat-menu-item (click)="NotInUseModal()">About
                <mat-icon>star</mat-icon>
            </li>
            <li mat-menu-item (click)="Logout()">Logout
                <mat-icon>star</mat-icon>
            </li>
        </ul>
    </div>

</mat-menu>