button{
    position: relative;
    display: block;
    border-radius: 30px;
    height: 50px;
}

.selected{
    background-color: #8eca8e;
    color: white;
}

.circle{
    width: 15px;
    height: 15px;
    position: fixed;
    z-index: 1;
    background-color: orange;
    border-radius: 100%;
}