<div class="layout">
    <mat-toolbar>
      <span id="logo" routerLink="Dashboard">Vent<b style="color: green">2</b>u</span>
      <span><mat-icon>menu</mat-icon></span>
    </mat-toolbar>

<!--  Page Output-->
  <router-outlet></router-outlet>


<!--  <app-temp-control></app-temp-control>-->
<!--  <login></login>-->
    <!-- <dashboard-main></dashboard-main> -->
    <footer>
        <nav>
            <ul>
              <li routerLink="Dashboard"><span>23&#176;C</span>Temp</li>
              <li routerLink="**"><span>53%</span>Humidity</li>
                <li routerLink="">
                  <span> <mat-icon>settings</mat-icon> </span>Settings
                </li>
            </ul>
        </nav>
    </footer>
</div>
