* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}


/* Placeholder */

mat-toolbar-row {
    width: 100%;
    background-color: #222;
    color: white;
    padding: 20px 0;
    text-align: left;
    padding-left: 25px;
}

footer {
    width: 100%;
    background-color: #222;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 100%;
    align-items: center;
}

footer nav ul li {
    font-size: 11px;
}

footer nav ul li span {
    font-size: 20px;
    display: block;
    height: 25px;
    width: 100%;
    text-align: center;
}

dashboard-main {
    padding: 0 30px;
}

router-outlet {
    display: none;
}