<div class="layout">
    <mat-toolbar-row>
        <span>Header</span>
    </mat-toolbar-row>

<!--  Page Output-->
  <router-outlet></router-outlet>


<!--  <app-temp-control></app-temp-control>-->
<!--  <login></login>-->
    <!-- <dashboard-main></dashboard-main> -->
    <footer>
        <nav>
            <ul>
              <li><a routerLink="Dashboard"><span>23&#176;C</span>Temp</a></li>
              <li><a routerLink="**"><span>53%</span>Humidity</a></li>
                <li>
                  <a routerLink=""><span> <mat-icon>#</mat-icon> </span>Settings</a>
                </li>
            </ul>
        </nav>
    </footer>
</div>
