mat-slider {
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #FFF;
    height: 40vh;
}

.humidity {
    font-size: 60px;
}

.mat-accent .mat-slider-track-fill,
.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label {
    background-color: #FF416C;
}

.humidity-slider {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.humidity-component {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

.humidity-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

::ng-deep .mat-accent .mat-slider-thumb {
    background-color: white;
}

::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: #FF416C;
}