mat-slider {
    width: 100%;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

h2 {
    text-align: center;
}

.humidity {
    text-align: center;
    font-size: 24px;
}