.presets{
    background-color: rgba(255,255,255, 0.3);
    margin: 0 20px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    
    overflow-anchor: none;
}

.presets ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    white-space: nowrap;
    padding-left: 0;
    overflow-x: scroll;
    
    overflow-anchor: none;
    /*firefox*/
    scrollbar-width: none;
    
  /*IE10+*/
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scroll-snap-type: x mandatory;
  overflow: -moz-scrollbars-none;
}

.presets ul::-moz-scrollbar {
    display: none;;
}

.presets ul::-webkit-scrollbar {
    display: none;
}

.presets ul::before,
.presets ul::after {
  content: "";
  flex: 0 0 50%;
}

.presets ul li{
    display: block;
    font-size: 1.5em;
    width: fit-content;
    color: #b5e6c1;
    padding: 10px 15px;
    cursor: pointer;
    scroll-snap-align: center;
}

.presets ul li.selected{
    color: white;
    transition: color 0.3s ease-in-out;
}
