.presets button {
    border: 1px dotted #000;
}

.presets {
    margin-top: 60px;
}

mat-form-field {
    width: 100%;
    background-color: #FFF;
    height: 51px;
    overflow: hidden;
    color: #000;
}