  <mat-toolbar>
    <span id="logo" routerLink="Dashboard">Vent<b style="color: green">2</b>u</span>
    <span><mat-icon>menu</mat-icon></span>
  </mat-toolbar>

  <!--  Page Output-->
  <div class= "page"><router-outlet></router-outlet></div>

  <footer>
    <nav>
      <ul>
        <li routerLink="Main"><span><mat-icon>power_settings_new</mat-icon></span>23&#176; Temp</li>
        <li routerLink="Vents"><span><mat-icon>toys</mat-icon></span>53% Humidity</li>
        <li routerLink="Claim"><span> <mat-icon>settings</mat-icon> </span>Settings</li>
      </ul>
    </nav>
  </footer>

