  <mat-toolbar>
    <span id="logo" routerLink="Dashboard">Vent<b style="color: green">2</b>u</span>
    <span>
      <mat-icon>menu</mat-icon>
    </span>
  </mat-toolbar>

  <!--  Page Output-->
  <div class="page">
    <router-outlet></router-outlet>
  </div>

 
    <nav>
      
        <button routerLink="Main">
            <span>{{temperature | celsius }}</span>
          Temperature</button>
        <button routerLink="Vents">
        <span>{{humidity | percent }}</span>
        Humidity</button>
        <button routerLink="Claim"><span>
            <mat-icon>settings</mat-icon>
          </span>Settings</button>
     
    </nav>

