/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: rgb(100, 243, 140);
    background: linear-gradient(180deg, rgba(100, 243, 140, 1) 0%, rgba(0, 85, 0, 1) 100%);
    overflow: auto;
    overflow-x: hidden;
}